html{
    box-sizing: border-box;
    background-color: #ccc;
}
body{
    width:80%;
    margin:1rem auto;
    background:#ddd;
    padding:1rem;
    line-height:1em;
    font-size:1rem;
    font-family: raleway,"helvetica neue";
}

/*grid line*/
.grid path {
    stroke-width: 0;
    z-index: -100;
  }
  
  .grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
    z-index: -100;
  }
  /*tool tip*/
  /*Covid graph*/
#covid{
    position: relative;
}
#covid-tip{
    width:180px;
    border-radius: 10px;
    background:white;
    padding: .75rem;
    font-size:1rem;
    margin:0;
    position: absolute;
    z-index: 100;
    height:auto;
    opacity:0;
    transition: all .25s ease-in;
    pointer-events: none;


}
#covid-tip p{
    margin:0;
    padding:.25rem;
    font-family:helvetica;
   
}
.tip-flag{
    margin-left:2rem;
    padding-left:.5rem;
}
#covid-tip p:first-child{text-align: center;}
.load-message, .user-guide{
    transition: all .2s ease-in-out;
}
#sort-cv{
    opacity:0;
}

@media (max-width:480px){
svg{
    width:320px;
    
    }
}

@media (min-width:481px) and (max-width:768px){
    svg{
        width:600px;
        
    }
    }